data/raw/sp500_prices_long.csv filter=lfs diff=lfs merge=lfs -text
data/raw/sp500_fundamentals_daily_long.csv filter=lfs diff=lfs merge=lfs -text
data/raw/sp500_fundamentals_statements_long.csv filter=lfs diff=lfs merge=lfs -text
